
// Footer
//--------
footer {
  padding: 30px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.733rem; // 11px
  font-weight: 600;
  border-top: 1px solid $grey-lighter;

  a.footer-link {
    flex: 0 0 auto;
    display: inline-block;
    padding: 0 10px;
    color: $green;

    &:hover {
      color: darken($green, 10%);
    }
  }
  .footer-copyright {
    flex: 0 0 auto;
    display: inline-block;
    padding: 0 10px;
    color: $grey;
  }
}