
// General Styles
//------------------------
* {
	box-sizing: border-box;
}
:focus {
	outline: none;
}
html,
body {
	margin: 0;
	padding: 0;
}
html {
	font-size: $base-font-size;
	font-family: $sansFamily;
	color: $text-color;
}
main {
	position: relative;
	min-height: 100vh;
	padding: 33vh 20px 50px;
	text-align: center;
	background-color: $light-grey;
}

h1,
h2,
h3,
h4 {
	line-height: 1.3em;
	font-weight: 700;
	margin: 0;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.3rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.3rem;
}

a {
	color: $text-color;
	text-decoration: none;
	@include transition();

	&:visited {
		color: $text-color;
	}
}

// Forms
//---------
label {
	display: block;

	.label-copy {
		display: inline-block;
		margin: 0 0 4px;
		font-size: 0.8rem;
		color: $light-grey;
	}
}
input[type="text"] {
	display: inline-block;
	padding: 6px 12px;
	border: none;
	border-radius: none;
	background-color: $white;
	color: $grey;
}

// Buttons
//----------
button,
.button {
	display: inline-block;
	padding: 10px;
	border: none;
	border-radius: none;
	font-family: $sansFamily;
	font-size: 0.9rem;
	cursor: pointer;
}

// Icons
//----------
.html-icon-arrow {
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid $white;
	@include transition();

	&.right {
		position: relative;
		top: 2px;
		border-right: none;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 10px solid $white;
	}
}