
// Variables
//============================

//// COLORS ////
//-------------
$black:		    #000;
$grey:		    #666;
$light-grey:	#aaa;
$lighter-grey:  #ddd;
$off-white: 	#FAFAFA;
$white: 		  #FFF;

$green:         #09B246;
$green-light:   #1BFF6D;
$red:           #B20700;

$main-bg: 		$grey;
$text-color: 	$white;
$box-shadow: 	 4px 2px 20px -10px $black;
$box-shadow-active: 	 4px 2px 20px -14px $black;


//// FONTS ////
//-------------
$base-font-size: 	20px;
$sansFamily: 		Arial, sans-serif;

// TODO: Monospace font for ticker, search, and number data


//// BREAKPOINTS ////
//-------------------
$mobile:    768px;
$tablet:    1024px;
$desktop:   1200px;


//// LAYOUT ////
//-------------------
$container:   800px;
$container-lg:  1000px;


//// OTHER ////
//-------------
$curve1: cubic-bezier(.22,.07,.23,.99);
$curve2: cubic-bezier(.97,.05,.7,.96);
$curve3: cubic-bezier(.21,.05,.07,.99);



//// MIXINS ////
//-------------
@mixin transition($time: 0.3s) {
	-webkit-transition: all $time;
	transition: all $time;
}
@mixin transform($props) {
  -ms-transform: $props;
  -webkit-transform: $props;
  transform: $props;
}
@mixin centerMe() {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform( translate(-50%, -50%) );
}
@mixin centerX() {
  position: absolute;
  right: 50%;
  @include transform( translateX(50%) );
}
@mixin centerY() {
  position: absolute;
  top: 50%;
  @include transform( translateY(-50%) );
}

// Animations
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($name, $duration, $timing: $curve1, $delay: 0s, $iterations: 1, $direction: normal,  $fill-mode: forwards) {

  -webkit-animation: $name $duration $timing $delay $iterations $direction $fill-mode;
  animation: $name $duration $timing $delay $iterations $direction $fill-mode;

}