
// Header
//---------
header {
  padding: 14px 12px 12px;
  background-color: $grey-darker;
  text-align: right;

  @media (min-width: $mobile) {
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 16px;
    // text-align: right;
  }

  .header-logo {
    display: inline-block;
    float: left;

    svg {
      display: inline-block;
      height: 25px;
      width: auto;
    }
    .logo-copy {
      display: inline-block;
      height: 16px;
      margin-left: 10px;
    }
  } // end .header-logo


  .header-actions {
    display: inline-block;
    
    .icon-button {
      display: none;

      @media (min-width: $mobile) {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        padding: 3px 0 1px;

        svg {
          display: block;
          height: 26px;
          width: auto;

          g {
            transition: all 0.3s;
          }
        }

        &:hover {
          svg g {
            stroke: $green-hover;
          }
        }
      }
        
    }
    input {
      display: none;

      @media (min-width: $mobile) {
        display: inline-block;
        vertical-align: top;
        padding: 5px 24px 5px 12px;
        margin-right: 20px;

        font-size: 1rem;
        background: none;
        border: 1px solid $grey-dark;
        border-radius: 4px;

        background-image: url('/assets/icon-search.svg'); // TEMP: Move to interactive element
        background-position: 98% 50%;
        background-size: 1rem;
        background-repeat: no-repeat;
        transition: all 0.5s;

        &:focus {
          border-color: $grey;
        }
      }
    }
    .profile-dropdown {
      display: inline-block;
      vertical-align: top;

      img {
        display: block;
        height: 30px;
        width: auto;
        border-radius: 4px;
      }
    }
  } // end .header-actions
}



// Hero
//----------
.section-hero {
  // height: 60vh;
  // min-height: 300px;
  padding: 80px 16px 0;
  text-align: center;
  background-image: url('/assets/img-hero-home.jpg');
  background-position: center center;
  background-size: cover;

  .content {
    display: inline-block;
    width: 100%;
    max-width: $container;
    text-align: left;
  }
  .new-post {
    padding: 44px 30px 25px;
    margin-bottom: 100px;
    border-radius: 3px;
    background-color: rgba(0, 204, 153, 0.8);
    
    .pseudo-placeholder-input {
      position: relative;
      margin-bottom: 30px;

      input {
        display: block;
        padding: 0;
        border: 0;
        background: transparent;

        color: $white;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.1em;
        
      }
      .placeholder-text {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.1em;
        color: $white;
        opacity: 0.5;
        pointer-events: none;
      }
    }
    .media-actions {
      .icon-button {
        margin-right: 40px;
        color: $white;
        font-size: 0.93rem; // 14px
        opacity: 0.5;
        transition: all 0.3s;

        svg {
          position: relative;
          top: 1px;
          display: inline-block;
          height: 14px;
          width: auto;
          margin-right: 10px;
        }
      }
    }
    @media (min-width: $mobile) {
      .media-actions {
        .icon-button {
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  nav {
    // .nav-wrapper {
    //   margin: 0 auto;
    //   max-width: $container;
    //   text-align: left;
    // }
    .nav-item {
      display: inline-block;
      margin-right: 40px;
      padding: 10px 8px 20px;
      border-bottom: 4px solid transparent;
      font-size: 0.8rem;
      font-weight: 700;
      color: $grey-light;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        border-bottom-color: $grey-light;
      }
      &:last-child {
        margin: 0;
      }

      &.active {
        border-bottom-color: $green;
        color: $white;
      }
    }
    .layout-switches {
      display: inline-block;
      float: right;
      
      .icon-button {
        vertical-align: top;
        margin-left: 4px;
        padding: 14px 5px;
        opacity: 0.5;
        transition: all 0.3s;

        &:hover {
          opacity: 1;

          .list-icon {
            .line {
              background-color: $green;
            }
          }
          .grid-icon {
            .block {
              background-color: $green;
            }
          }
        }

        &.active {
          opacity: 1;
        }
      }
      .list-icon {
        display: inline-block;
        vertical-align: top;

        .line {
          width: 9px;
          height: 1px;
          margin-bottom: 3px;
          background-color: $white;
          transition: all 0.3s;

          &:last-child {
            margin: 0;
          }
        }
      }
      .grid-icon {
        width: 10px;

        .block {
          float: left;
          vertical-align: top;
          height: 3px;
          width: 3px;
          background-color: $white;
          margin: 0 3px 3px 0;
          transition: all 0.3s;

          &:nth-child(even) {
            margin: 0;
          }
        }
      }
    }
  }

  @media (min-width: $mobile) {
    // height: 425px;
    padding: 124px 24px 0;
  }
}


// Posts
//---------
main {
  padding: 50px 16px;
  background-color: $white;

  .post-list {
    max-width: $container;
    margin: 0 auto;
  }

  .post {
    border: 1px solid $grey-lighter;
    border-radius: 4px;

    .post-base {
      display: flex;
      padding: 24px 24px 20px;

      .post-profile-img {
        display: inline-block;
        flex: 0 0 auto;
        height: 40px;
        width: auto;
        margin-right:  16px;
        border-radius: 4px;
      }
      .post-info {
        flex: 1;

        .name-action-row {
          display: flex;
          align-items: center;
          margin-bottom: 7px;

          .name {
            flex: 1;
            line-height: 1em;
            margin: 0;
            color: $grey-dark2;
          }
          .icon-button,
          .timestamp {
            flex: 0 0 auto;
          }
          .icon-button {
            margin-right: 20px;

            svg {
              display: block;
              height: 13px;
              width: auto;
            }
          }
          .timestamp {
            font-size: 0.93rem; // 14px
            color: $grey-light;
          }
        } // end .name-action-row
      } // end .post-info

      .post-copy {
        line-height: 1.6em;
        color: $grey;

        a {
          color: $grey-light;
        }
      }

    } // end .post-base
  } // end .post

  @media (min-width: $mobile) {
    padding: 50px 16px 100px;

    .post {
      .name-action-row {
        .icon-button {
          svg path {
            transition: all 0.3s;
          }

          &:hover {
            path {
              stroke: $green;
            }
          }
        }
      }
      .post-copy {
        a {
          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}


// Footer
//--------
footer {
  padding: 30px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.733rem; // 11px
  font-weight: 600;
  border-top: 1px solid $grey-lighter;

  a.footer-link {
    flex: 0 0 auto;
    display: inline-block;
    padding: 0 10px;
    // font-size: 0.733rem; // 11px
    // font-weight: 600;
    color: $green;

    &:hover {
      color: darken($green, 10%); // TODO: Move to variable
    }
  }
  .footer-copyright {
    flex: 0 0 auto;
    display: inline-block;
    padding: 0 10px;
    color: $grey;
  }
}